:root {
  --main-bg-color: white;
  --main-text-color: black;
  --button-hover-color: #202020;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "Open Sans", sans-serif;
}

main {
  margin: 5rem auto;
  max-width: 600px;
}

p {
  font-size: 18px;
  line-height: 24px;
}

p a {
  color: var(--main-text-color);
}

.call-to-actions > a {
  font-size: 24px;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 10px 14px;
  border: 1px solid var(--main-text-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  transition: background-color 100ms ease;
  -webkit-transition: background-color 100ms ease;
  -moz-transition: background-color 100ms ease;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: var(--button-hover-color);
  color: var(--main-bg-color);
}

@media (max-width: 680px) {
  main {
    width: 80%;
  }
  .button {
    margin-right: 0.5rem;
    padding: 5px 7px;
  }
  .call-to-actions a {
    font-size: 18px;
  }
}
